.tarjeta{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.nombre{
  text-align: center;
  margin-top: 2rem;
}

.imagen{
  text-align: center;
  margin-top: 2rem;
  width: 5rem;
  height: 5rem;
  
}

.linea{
  border: 1px solid black;
}

.areaPokemon{
  display: flex;
  justify-content: center;
}